nav {

    background-image:url(imgs/1648275757_38-kartinkof-club-p-memi-chzhun-li-41.jpg)  ;
    background-position:left;
    background-size:contain;
    background-color:  rgb(201, 201, 201);
    border-radius: 5px;
    background-repeat: no-repeat;
    font-family: monospace;
    font-size: 26px ;

    
   
    
}


a {
    color: black;
    text-decoration: underline;

}

a:hover {

    text-decoration: none;

}
.razor{
    position: sticky;

    top: 20px;
}

aside {
    float: right;
    text-align: center;

    background-color:  rgb(201, 201, 201);
    
    border-radius: 5px;
    color: black;
    letter-spacing: 5px;



    font-size: 20px;
    height: 1500px;
    width:300px;

    font-weight: 900;
 
}


section {

    background-color: rgb(201, 201, 201);
    font-family: monospace;
    font-size: 20px;
    border: 2px solid black;
    
    margin: 4px;
    border-radius: 4px;
    padding: 10px;
    
    width: auto;
    margin: auto; 
    max-width: 1000px;
    color: black;
    
}



.background {

    background-color: white;

}

table {

    border-collapse: collapse;
    border: 2px solid black;
   
}

td {

    padding: 8px;

}

strong {

    color: blueviolet;

}

body {
   
    text-align: center;
    
    
}

ul {
    list-style: none;
    
}

ol{
    list-style-position:inside;
}








